html{
  /* background-color: blue; */
  font-family: 'Segoe UI';
}
/*===========*\
#    HEADER    #======================================================================
\*===========*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  background-color: white;
  padding: 1rem 0rem;
  margin-left: 3rem;
}

h1{
  margin: 0;
}

#logo{
  width: 5rem;
}

header div{
  margin-left: 1rem;
}

nav{
  display: flex;
  justify-content: space-between;
}

nav p {
  margin: 0 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

nav img{
  width: 1.5rem;
  margin: 0 1rem;
}

a{
  text-decoration: none;
  color: black;
}
