html{
  /* background-color: blue; */
  font-family: 'Segoe UI';
}

div,p,a,h1,h2,h3,h4,h5{

font-size: 1vw ;

}

/*===========*\
#    HEADER    #======================================================================
\*===========*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15vw;
  background-color: white;
  padding: 1vw 0vw;
  margin-left: 3vw;
}

h1{
  margin: 0;
}

#logo{
  width: 3vw;
}

header div{
  margin-left: 1vw;
}

nav{
  display: flex;
  justify-content: space-between;
}

nav p {
  margin: 0 1.5vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

nav img{
  width: 1.5vw;
  margin: 0 1vw;
}

a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}


/*=============================*\
#    COMMUNS AUX AUTRES PAGES    #======================================================================
\*=============================*/

input{
  padding: 0.5vw 1.5vw ;
  background-color: white;
  border: solid 1px #C3C3C3;
  /* cursor: pointer; */
}

.trajan{
font-family: trajan-pro-3, serif;
}

.worker{
  font-family: Worker;
}
