.carre {
    width: 800px;
    /* height:400px; */
    background: white;
    border: 2px solid black;
    margin-left: 350px;
}


/*pas toucher */
.apart_accueil {
    background: no-repeat center center #707070;
    background-image: url('../img/recherche_colocation/appart.jpg');
    background-size: cover;
    height: 529px;

    text-align: center;
    align-items: flex-end;
    display: flex;
    flex-direction: column;

    z-index: 0;
    position: relative;
}

/*fin de pas toucher */

.carre {
    position: absolute;
    z-index: 1;
    top: 33vw;
}

.butt {
    cursor: pointer;
}


input {
    padding: 0.5vw 1.5vw;
    background-color: white;
    border: solid 1px #C3C3C3;
    margin-bottom: 2vw;
    margin-top: 1vw;
    /* cursor: pointer; */
}


.trajan {
    font-family: trajan-pro-3, serif;
}

.champ1, .champ2 {
    display: flex;
}

.boutonConfirm {
    margin-left: 300px;
    margin-top: 50px;
}

.formulaireensemble {
    margin-left: 3vw;
}

.content-img-accueil-inp {
    margin-left: 550px;
    margin-bottom: 1vw;
}

.content-img-accueil-text {
    margin-right: 10vw;
    margin-top: 10vw;
    margin-bottom: 1vw;
}

.slog {
    margin-right: 5vw;
    font-size: 1.5vw;
}

h2 {
    font-family: Tahoma;
    font-size: 60px;
}

.formulaireensemble p {
    font-family: Tahoma;
    font-size: 2vw;
    font-weight: bold;
    margin-top: 3vw;
}


.blanc {
    height: 25vw;
    width: 100%;
}


.nom, .email, .message {
    margin-left: 1vw;
    margin-right: 1vw;
}
