/*Caroline Fassot*/
footer {
    background-color: #C3C3C3;
    font-weight: lighter;
    padding: 1vw;

}

.footer_up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 20vw;

}

.footer_down {
    display: flex;
    justify-content: space-between;
}

.footer_down > p {
    margin-left: 20vw;
    font-size: 10px;
}

.langue {
    display: flex;
    flex-direction: column;
}

.langue > label {
    margin-bottom: 1vw;
}

.langue select {
    width: 150%;
}

.RS {
    margin-right: 1vw;
    align-self: flex-end;
    display: flex;
}

.RS img {
    width: 2vw;

}
