html{
    /* background-color: blue; */
    font-family: 'Segoe UI';
  }
  
  div,p,a,h1,h2,h3,h4,h5{
  
  font-size: 1vw ;
  
  }
  
  /*===========*\
  #    HEADER    #======================================================================
  \*===========*/
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15vw;
    background-color: white;
    padding: 1vw 0vw;
    margin-left: 3vw;
  }
  
  h1{
    margin: 0;
  }
  
  #logo{
    width: 3vw;
  }
  
  header div{
    margin-left: 1vw;
  }
  
  nav{
    display: flex;
    justify-content: space-between;
  }
  
  nav p {
    margin: 0 1.5vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  nav img{
    width: 1.5vw;
    margin: 0 1vw;
  }
  
  a{
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  
  
  /*=============================*\
  #    COMMUNS AUX AUTRES PAGES    #======================================================================
  \*=============================*/
  
  input{
    padding: 0.5vw 1.5vw ;
    background-color: white;
    border: solid 1px #C3C3C3;
    /* cursor: pointer; */
  }
  
  .trajan{
  font-family: trajan-pro-3, serif;
  }
  
  .worker{
    font-family: Worker;
  }




/*pas toucher */
  .apart_accueil{
    background:no-repeat center center #707070;
    background-image: url('../img/flou/maison2.jpg');
    background-size: cover;

    text-align: center; 
    display:flex;
    justify-content: center;
  }

  h2{
    font-family: Tahoma;
    font-size: 60px;
  }
  
  .formulaireensemble p{
    font-family: Tahoma;
    font-size: 2vw;
    font-weight: bold;
    margin-top: 3vw;
  }

  .slog{
    margin-right: 5vw;
    font-size: 1.5vw;
  }

  .content-img-accueil-text{
    margin-right: 10vw;
    margin-top: 10vw;
    margin-bottom: 1vw;
  }
  /*fin de pas toucher */

  .carre{
    width:500px;
    height:500px;
    background:white;
    border: 2px solid black;
    margin-top:50px;
    margin-bottom:50px;

  }

  .motdepasse1{ 
    font-size: 1.5vw;

margin-top:20px;
  }

  .content-img-accueil-inp {

    margin-top:30px;
    background-color : #E9F4FF;
    border: hidden;
    width: 25%;
    padding: 2% 0% 2% 0%;

  }
  .email {


    margin-top: 150px;
  }
  .email2 {

  }