body{
    margin : 0 0 0 0;
    padding: 0 0 0 0;
}


/* css pour la page insciption (première) */


input,select{
    border-radius: 5px;
}

/* p,a,h1,h2,h3,h4,h5{

    font-size: 1vw;

}; */

a{
    color: black;

}



.fond{


    background-image: url("../img/accueil/apartment_accueil.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2% 0 3% 0;
    height : 100%;
}

.squarefond{
    background-color : white;
     margin : 0% 20% 0% 20%; 
     padding : 0% 0% 2% 0%;
     border-radius : 3%;



}


.boutoninscript{

        background-color : #E9F4FF;
        border: hidden;
        width: 25%;
        padding: 2% 0% 2% 0%;


}

.flexformulaireinscription{

    display: flex;
     flex-direction : column;
     padding : 5% 10% 5% 10%;




}

.formelement{

margin: 2% 0% 2% 0%; 

}


.paradefin{

    margin: 0% 0% 0% 10%;


}

.paradefinbis{

margin: 2% 0% 0% 10%;
font-size: 12px;

}

.paradedebus{

margin: 2% 0% 0% 35%;
padding: 2% 0 0 0;
font-size: 25px;

}




.Google{

background-color : #db4a39;
}

.Twitter{

background-color : #00acee;
}

.Facebook{

background-color : #3b5998;
}

.centrezmoica{



margin: 5% 0 0 40%;


}



.flexformulaireinscriptions{
        
    display: flex;
    flex-direction : column;
    justify-content : center;
    
    
    }
    

/* css pour la page insciption (deuxième) */
    .inte{


        display: flex;
    flex-direction : column;
    }
    
    .supp{

        display: flex;
        flex-direction : row;
        margin: 3% 10% 0 10%;
    }
    
    
.daymonth{

    width: 10%;


}

.spaceleft{

margin-left: 5%;

}


.spaceleftandtop{

    margin: 3% 0 0 10%;
    
    }

.spaceleftandtopbis{

        margin: 3% 0 1% 5%;
        
        }
        
/* css pour la page mentions légales */


.bordure{

    border: 5px solid black;
    font-size: 2vw ;
    padding: 2%
}

.flexaucentre{

    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.fondun{

    background-color: #E9F4FF ;
    padding: 1% 5% 1% 5%;
    margin: 0 0 0 0;

}

.fonddeux{
    background-color: #87ABD1 ;
    padding: 1% 5% 1% 5%;
    margin: 0 0 0 0;
}

.memetaille{

    font-size: 1vw;

}

/* Css pour la page de connexion */

.formuinscri{

padding : 0.5rem 0 0.5rem 0;


}

.paradedebusdeux{

    margin: 2% 0% 0% 40%;
    padding: 2% 0 0 0;
    font-size: 25px;
    
    }
    